<div class="container-fluid">
  <h1> <%= @movie.title %></h1>
  <div class="row">
  <% if @movie.poster %>
    <div class="col-sm-3">
      <%= image_tag @movie.poster %>
    </div>
    <% end %>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <p>Status</p>
        </div>
        <div class="col-sm-9">
          <p><%= @movie.status %></p>
        </div>
        <div class="col-sm-3">
          <p>Years</p>
        </div>
        <div class="col-sm-9">
          <p><%= @movie.years %></p>
        </div>
        <div class="col-sm-3">
          <p>Actors</p>
        </div>
        <div class="col-sm-9">
          <p><%= @movie.actors %></p>
        </div>
        <div class="col-sm-3">
          <p>Genres</p>
        </div>
        <div class="col-sm-9">
          <p><%= @movie.genres.map{|p| p.title}.join(", ") %></p>
        </div>
        <div class="col-sm-3">
          <p>Countries</p>
        </div>
        <div class="col-sm-9">
          <p><%= @movie.countries.map{|p| p.title}.join(", ") %></p>
        </div>
        <div class="col-sm-3">
          <p>Description</p>
        </div>
        <div class="col-sm-9">
          <p><%= raw @movie.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-primary notes">
    <div class="card-header">My Notes</div>
    <div class="card-body">
      <h4 class="card-title">Description</h4>
      <p class="card-text"><%= raw @movie.note.description %></p>
    </div>
    <div class="card-body">
      <h4 class="card-title">Women's characters</h4>
      <p class="card-text"><%= raw @movie.note.characters %></p>
    </div>
  </div>
</div>
<%= debug(@movie) if Rails.env.development? %>



